#login-top-background{
    background-image: url('../../app/img/banner/bitmap.png');
}

#login-top-height{
    height: 333px;
}

#login-top-welcome{
    font-family: Helvetica;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}

#login-top-cust-portal{
    font-family: Helvetica;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin-top: -20px;
}

#login-row{
    margin-top: -15%;
    margin-bottom: 10%;
}

#login-container{
    padding-left: 15%;
    padding-right: 15%;
}

#login-inside-padding{
    border-radius: 8px;
    background-color: #ffffff;
    padding: 5% 10% 8% 10%;
}

#login-horizontal-row{
    height: 2px;
    opacity: 0.45;
    background-color: #979797;
    margin-bottom: 5%;
    margin-top: 3%;
}

#login-lower-section{
    padding: 5% 5% 5% 5%;
}

#submit-btn{
    width: 300px;
    height: 50px;
    border-radius: 8px;
    background-color: #32426c;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}
.input-grey{
    width: 100%;
    height: 41px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #cccccc;
    outline: none;
    text-transform: capitalize;
}

#login{
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #32426c;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 450px) and (max-width: 768px){
    #login-row {
        margin-top: -25%;
        margin-bottom: 0%;
    }
    #login-container {
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}
/*mobile phones*/
@media only screen and (max-width: 450px) and (min-width: 280px) {
    #login-top-welcome{
        font-size: 25px;
    }
    #login-top-cust-portal{
        font-size: 25px;
    }
    #login-row {
        margin-top: -45%;
        margin-bottom: 0%;
    }
    #login-container {
        padding-left: 0%;
        padding-right: 0%;
    }
    #submit-btn{
        width: 100%;
    }
}