<div id="blue-line"></div>
<div id="navy-blue-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="padding1">
                        <img src="app/img/logo/logo.png" style="float: left;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="padding2">
                        <p id="padding2-text">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="padding3">
                        <p id="padding3-text"> when an unknown printer took a galley of type and  scrambled it.
                            orem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="line1">
                <img src="app/img/line/line.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5">
                <div class="row padding5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p id="bluestreak" class="useful-links">Useful Links</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="aboutus.html">
                            <p class="column2-texts useful-links">About Us</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="column2-texts useful-links">Chat</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="column2-texts useful-links">Privacy</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="terms.html">
                            <p class="column2-texts useful-links">Terms</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="line2">
                <img src="app/img/line/line.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-11 col-xs-11">
                <div class="row padding5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p id="get-in-touch">Get In Touch</p>
                    </div>
                </div>
                <div class="row" id="icons-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="app/img/social_media/facebook-logo.png" class="icons-float">
                        <img src="app/img/social_media/twitter.png" id="icons-middle">
                        <img src="app/img/social_media/instagram-logo.png" class="icons-float">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p id="newsletter">Subscribe To The Newsletter </p>
                    </div>
                </div>
                <form id="subscribe" method="post">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="text" name="email" autocomplete="off" placeholder="Enter Your E-mail"  id="input-box">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="page-scroll btn blue-button" id="submit-btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="final-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">

            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
                <a href="index.html"><div class="foot-bar">Home</div></a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
                <a href="features.html"><div class="foot-bar">Features</div></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <a href="howitworks.html"><div class="foot-bar">How it Works</div></a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
                <a href="faq.html"><div class="foot-bar">FAQs</div></a>
            </div>
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-3">
                <a href="contactus.html"><div class="foot-bar">Contact us</div></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <a href="deputy.html"><div class="foot-bar">Deputy Solution</div></a>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-0">

            </div>
        </div>
    </div>
</div>