<div dw-loading="resetPassword">
    <div id="login-top-background">
        <div class="container">
            <div class="row" id="login-top-height">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <p id="login-top-welcome">
                            Welcome To The Vivo Warriors
                        </p>
                        <p id="login-top-cust-portal">
                            Customer Portal
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="container">
            <div class="row" id="login-row">
                <div class="container" id="login-container">
                    <form name="resetPasswordForm" novalidate autocomplete="off" ng-submit="resetPassword(resetPasswordForm.$valid)">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="login-inside-padding">
                            <div class="row">
                                <p id="login">
                                    RESET PASSWORD
                                </p>
                            </div>
                            <div class="row">
                                <div id="login-horizontal-row"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="password" class="form-control input-grey" ng-model="user.password" ng-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/" autocomplete="off" required>
                                        <div class="error"
                                             ng-show="resetPasswordForm.$submitted || resetPasswordForm.password.$dirty && resetPasswordForm.password.$invalid">
                                            <small class="error text-danger" ng-show="resetPasswordForm.password.$error.required">
                                                Password is required.
                                            </small>
                                            <small class="error text-danger"
                                                   ng-show="resetPasswordForm.password.$invalid && !resetPasswordForm.password.$error.required">
                                                Password should have atleast one number and special character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" name="confirmpassword" class="form-control input-grey" ng-model="user.confirmpassword" ng-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/" autocomplete="off" required>
                                        <div class="error"
                                             ng-show="resetPasswordForm.$submitted || resetPasswordForm.confirmpassword.$dirty && resetPasswordForm.confirmpassword.$invalid">
                                            <small class="error text-danger" ng-show="resetPasswordForm.confirmpassword.$error.required">
                                                Password is required.
                                            </small>
                                            <small class="error text-danger"
                                                   ng-show="resetPasswordForm.confirmpassword.$invalid && !resetPasswordForm.confirmpassword.$error.required">
                                                Password should have atleast one number and special character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
                                <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0">
                                    <small class="error text-danger"
                                           ng-show="user.password!=user.confirmpassword">
                                        Passwords should match
                                    </small>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="login-lower-section">
                            <div class="row center-alternative">
                                <button type="submit" class="page-scroll btn" id="submit-btn">Submit</button>
                            </div>
                            <div class="row center-alternative">
                                <a href="#app/forgotpassword">
                                    <p>Forgot Password ?</p>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>